body {
    background: #dafcff;
    font-family: Montserrat, "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #303030;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #14d3c9;
    justify-content: space-around;
    margin-bottom: 40px;
}

.menu li {
    list-style-type: none;
      
}

.menu a {
    display:block;                
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;   
    border-radius: 4px;
}
    
.menu a:hover{
    background-color: #0400f0;
    color: #ffe843;
    border-color: #ffe843;
}

.connection_compte {
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
}

.connection_compte > h1 {
    font-weight: 500;
    text-align : center;
    font-weight: bold;
}

form div {
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
}

form div > label {
    margin-bottom: 7px;
    font-weight: 600;
}

form div > input {
    background: #efeeee;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

form div > input {
    height: 50px;
    padding-left: 10px;
}

form div > input::placeholder, form div > textarea::placeholder {
    color: rgb(111, 108, 108);
}

/*Permet d'aligner le bouton submit*/
form div:last-child {
    align-items:center;
    margin-top: 20px;
}

/*Design du bouton Creation*/
form button {
    width: 300px;
    height: 50px;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
}

.retour_inscription {
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    border: 1px solid;
    background: white;
}
    
.retour_inscription > h1 {
    font-weight: 500;
    text-align : center;
    font-weight: bold;
}

.connection_compte form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-buttons {
    display: flex;
    align-items: center;
}

.radio-buttons label {
    margin-right: 10px;
}

.radio-buttons input {
    margin-right: 5px;
}

.connection_compte label {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

.connection_compte input[type="password"],
.connection_compte input[type="text"] {
    height: 30px;
}

.connection_compte div {
    display: flex;
    margin-bottom: 1rem;
}

.connection_compte label { /*ne pas enlever */
    margin-right: 1rem;
}

.retour_inscription button {
    background-color: rgb(26, 146, 216);
    color: rgb(255, 255, 0);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.retour_inscription {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
}




