.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #14d3c9;
    justify-content: space-around;
    margin-bottom: 40px;
}

.menu li {
    list-style-type: none;
}

.menu a {
    display:block;                
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;   
    border-radius: 4px;
}
    
.menu a:hover{
    background-color: #0400f0;
    color: #ffe843;
    border-color: #ffe843;
}