body {
    background: #dafcff;
    font-family: Montserrat, "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #303030;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100vw; /* Utilisation de la largeur totale de la vue */
    margin: 0;
    padding: 0;
    background-color: #14d3c9;
    justify-content: space-around;
    margin-bottom: 40px;
}

.menu li {
    list-style-type: none ;       /* Suppression des puces */
      
}

.menu a {
    display:block;                
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;   
    border-radius: 4px;
}
    
.menu a:hover{
    background-color: #0400f0;
    color: #ffe843;
    border-color: #ffe843;
}

.recherche_docteur input[type="text"]{
    height: 30px;
    margin-right: 250px;
}


.book-appointment-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(20, 125, 200);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.2s ease;
}

.book-appointment-button:hover {
    background-color: rgb(10, 95, 170);
}




